@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Input Search */
@layer components {
  .input-search {
    @apply lg:w-1/2 md:w-[60%] w-full border-2 border-slate-900 rounded-md size-10 p-4 lg:mb-4 mb-10 focus:ring-2 focus:ring-slate-900 focus:outline-none appearance-none;
  }

  .btn-detail {
    @apply bg-slate-900 text-white px-10 py-2 rounded-md;
  }
}
